server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/study_matchmaker
    username: sm_user
    password: sm_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never